<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login page</title>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-3 mx-auto">
      <form action="/login" method="post">
        <div class="form-group mx-auto">
          <br><br>
          <h3><b>Please sign in</b></h3>
          <input type="email" class="form-control" id="username" name="username"
                 aria-describedby="emailHelp" autofocus="true" placeholder="Email address">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>